.DetailsPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.DetailsPage-content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.DetailsPage-images {
    width: 50%;
    text-align: right;
}

.DetailsPage-product-detail {
    margin: 0 auto;
    margin-left: 10px;
    padding-top: 20px;
    width: 50%;
}

.DetailsPage-product-detail button {
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.DetailsPage-product-detail button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.DetailsPage-product-detail button:focus {
    outline: none;
}

#myCarousel .list-inline {
    white-space:nowrap;
}

#myCarousel .carousel-indicators {
    position: static;
    width: initial;
    margin-right: auto;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

.carousel-arrows {
    text-align: center;
}