.LogInForm a {
    color: white;
    background-color: #EF5656;
    padding: 10px;
}

.LogInForm a:hover {
    text-decoration: none;
    color: #EF5656;
    background-color: white;
}

.LogInForm form {
    width: 50%;
}

.LogInForm {
    background-color: #F7F6F5;
    margin: 0 auto;
}

.form-group {

}
