.Product {
    width: 350px;
    min-height: 350px;
    margin-bottom: 20px;
}

.Product img {
    position: relative;
    top: -2px;
    left: -2px;
    width: 40vh;
    margin-bottom: -5px;
}

.Product h5 {
   color: black;
}

.Product button {
    font-size: 13px;
    border: 1px solid #EF5656;
    padding: 8px;
    border-radius: 4px;
}

.Product button:hover {
    background-color: #EF5656;
    color: white;
}

.Product a:hover {
    text-decoration: none;
}

.Product > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 160px);
    padding: 0 10px;
}

.Product div div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
                    
.Product div p {
    color: gray;
}


.shoe-desc {
    font-size: 10px;
    color: #EF5656;
}

.price-text {
    font-size: 20px;
    color: #333333;
}
