.NavBar {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}


.NavBar a {
    text-decoration: none;
}

.inside-text {
    font-family: 'Julius Sans One', sans-serif;
    color: red;
    font-size: 30px;
}

.moves-text {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    font-size: 30px;
}

.NavBar-login {
    font-size: 10px;
}

.NavBar-link {
    color: black;
}

.icons {
    color: black;
}

.NavBar img {
    width: 20px;
    margin: 5px;
}
