.CartItem {
    display: flex;
    margin-bottom: 30px;
}

.CartItem img {
    width: 40vh;
}

.CartItem button {
    width: 50px;
    height: 30px;
    background: white;
    color: black;
    border: 2px solid black;
}

.CartItem-image-panel {
    width: 60%;
}

.CartItem-details-panel {
    width: 40%;
    text-align: left;
}